<div class="panel" ng-controller="CreateOrLoadController">
    <div ng-if="modal.type"
        class="modal-background"
        tabindex=0
        ng-keyup="$event.keyCode == 27 && removeModal()"
        ng-click="removeModal($event)">
    </div>
    <div class="subpanel">
        <div class="title">Create or load a tree</div>
            <div class="subpanel-sections">
            <form name="createLoad" class="radio-buttons">
                <div ng-click="config.newTree = true">
                    <input type="radio" name="create-load" ng-checked="config.newTree">&nbsp;Create new tree
                </div>
                <div ng-click="config.newTree = false">
                    <input type="radio" name="create-load" ng-checked="!config.newTree">&nbsp;Load existing tree
                </div>
            </form>
            <div class="subpanel-section" ng-show="config.newTree">
                <div class="name-section">
                    Dataset
                </div>
                <select ng-options="dataset for dataset in datasets" ng-model="config.dataset">dataset</select>
            </div>
            <div class="subpanel-section" ng-show="config.newTree">
                <div class="name-section">
                    Target
                </div>
                <select ng-options="feature for feature in features" ng-model="config.target" ng-disabled="!config.dataset">feature</select>
            </div>
            <div class="subpanel-section" ng-show="!config.newTree">
                <div class="name-section">
                    File
                </div>
                <select ng-options="file for file in files" ng-model="config.file">file</select>
            </div>
            <div class="subpanel-section" ng-show="!config.newTree && config.file">
                    <div class="name-section">
                        Target
                    </div>
                    <div class=ellipsed-text>
                        {{config.target}}
                    </div>
            </div>
        </div>
    </div>
    <div class="subpanel">
        <div class="title">Sampling parameters</div>
        <div class="subpanel-sections">
            <div class="subpanel-section">
                <div class="name-section">
                    Method
                </div>
                <select ng-model="config.sampleMethod" style="width: 25%;">
                    <option ng-value="undefined">Full</option>
                    <option value="head">Head</option>
                    <option value="random">Random</option>
                </select>
            </div>
            <div ng-show="config.sampleMethod" class="subpanel-section">
                <div class="name-section">
                    Sample size
                </div>
                <input type="number" min="1" step="1" ng-model="config.sampleSize" ng-keyup="$event.keyCode == 13 && (config.target || config.file) && edit()">
            </div>
        </div>
    </div>
    <div id="start-button-div">
        <button type="button" class="button" ng-click="edit()" ng-disabled="!config.target && !config.file">Start</button>
    </div>
</div>
