<div class="modal-background" tabindex=0
     ng-keyup="$event.keyCode == 27 && close()"
     ng-click="close($event)">
    <div class="modal">
        <div class="title modal-title">
            <div>{{ title }}</div>
            <i class="icon icon-grey icon-remove" ng-click="close()"></i>
        </div>
        <div class="modal-body">
            <form name="modalForm" ng-submit="modalForm.$valid && confirmAction(); close()">
                <div ng-include="customBody"></div>
                <div ng-if="msgConfig" ng-class="{ 'modal-body--error': msgConfig.error }">
                    {{ msgConfig.msg }}
                </div>
                <div class="modal-form" ng-show="promptConfig">
                    <div>
                        {{ promptConfig.label }}
                    </div>
                    <input focus-here ng-model="promptConfig.result" required>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="button-modal-div">
                <button type="button" class="button button-modal" ng-if="confirmAction" ng-click="close()">Cancel</button>
                <button type="button" class="button button-modal" ng-click="(confirmAction && confirmAction()); close();" ng-disabled="promptConfig && modalForm.$invalid">Ok</button>
            </div>
        </div>
    </div>
</div>