<div class="header header-split-edit header-border-light">
    <div class="header-feature-desc header-div" ng-class="{'with-radio': treatedAsNum(selectedNode.featureChildren)}">
        <i class="icon-font" ng-show="!treatedAsNum(selectedNode.featureChildren)"></i>
        <div class="numerical" ng-show="treatedAsNum(selectedNode.featureChildren)">#</div>
        <div class="ellipsed-text long-text" title="{{selectedNode.featureChildren}}">&emsp;{{selectedNode.featureChildren}}</div>
    </div>
    <form class="radio-buttons"
          ng-show="features[selectedNode.featureChildren].hasOwnProperty('mean')"
          ng-attr-title="{{!selectedNode.isLeaf ? 'Feature type cannot be changed on a node with splits' : null}}">
        <div>
            <input type="radio"
                   name="change-meaning"
                   ng-disabled="!selectedNode.isLeaf"
                   ng-checked="treatedAsNum(selectedNode.featureChildren)"
                   ng-click="changeMeaning(true, selectedNode.featureChildren)"
            >&nbsp;Numerical
        </div>
        <div>
            <input type="radio"
                   name="change-meaning"
                   ng-disabled="!selectedNode.isLeaf"
                   ng-checked="!treatedAsNum(selectedNode.featureChildren)"
                   ng-click="changeMeaning(false, selectedNode.featureChildren)"
            >&nbsp;Categorical
        </div>
    </form>
</div>

<div class="histogram-placeholder histogram-placeholder-empty" ng-if="histData[selectedNode.featureChildren].no_values">
    <em>No values</em>
</div>
<div histogram class="histogram-placeholder" ng-if="!histData[selectedNode.featureChildren].no_values">
    <div class="histogram-svg"></div>
</div>

<div class="feature-details" ng-if="selectedSplit">
    <div class="table-header">
        <div class="header header-search" ng-class="{'header-border': (search.list != 'split')}">
            <div class="header-div">Split</div>
            <div ng-if="search.list == 'split'" class="header-div selected-split-panel-search-bar">
                <input focus-here class="search-bar" placeholder="Search in {{selectedNode.featureChildren}}"
                       ng-model="search.string" ng-keyup="$event.keyCode == 27 && (search.list = undefined)">
                <i class="icon icon-grey icon-remove" ng-click="iconClick('split')"></i>
            </div>
            <div class="header-div" ng-if="!treatedAsNum(selectedNode.featureChildren)">
                <i class="icon icon-grey icon-search"
                   ng-click="iconClick('split')"
                   ng-if="search.list != 'split'"></i>
            </div>
        </div>

        <div class="edit-row">
            <div class="edit-row-sub" ng-if="treatedAsNum(selectedNode.featureChildren)">
                <div class="autosplit"
                     ng-if="!selectedSplit.left"
                     ng-click="!selectedNode.children_ids.length && selectedNode.probabilities.length > 1 && autosplit()"
                     ng-class="(!selectedNode.children_ids.length && selectedNode.probabilities.length > 1) ? 'autosplit-enabled' : 'autosplit-disabled'"
                     ng-attr-title="{{selectedNode.children_ids.length && 'This node already has splits'
                                    || selectedNode.probabilities.length < 2 && 'The target takes one or less value in this sample'
                                    || null}}">
                    Auto create
                </div>
                <form ng-submit="submit(selectedSplit, selectedNode.featureChildren)">
                    <input focus-here
                           type="number"
                           name="split-input"
                           placeholder="Enter a number"
                           ng-keyup="$event.keyCode == 27 && cancel(split)"
                           ng-model="selectedSplit.value"
                           ng-change="changeNumValue()"
                           step="any"
                           required/>
                </form>
            </div>
            <div class="edit-row-sub" ng-if="!treatedAsNum(selectedNode.featureChildren)">
                <div>
                    <b>{{selectedSplit.value.size}}</b> selected
                </div>
                <div class="autosplit"
                     ng-if="!selectedSplit.left"
                     ng-click="!selectedNode.children_ids.length && selectedNode.probabilities.length > 1 && !histData[selectedNode.featureChildren].same_target_distrib && autosplit(0)"
                     ng-class="(!selectedNode.children_ids.length && selectedNode.probabilities.length > 1 && !histData[selectedNode.featureChildren].same_target_distrib) ? 'autosplit-enabled' : 'autosplit-disabled'"
                     ng-attr-title="{{selectedNode.children_ids.length && 'This node already has splits'
                                    || selectedNode.probabilities.length < 2 && 'The target takes one or less value in this sample'
                                    || histData[selectedNode.featureChildren].same_target_distrib && ('The target distribution is the same accross the different values of ' + selectedNode.featureChildren)
                                    || null}}">
                    Auto create
                </div>
            </div>
            <div class="button-div">
                <button class="button button-with-borders" ng-click="cancel(split)">Cancel</button>
                <button class="button button-with-borders button-save"
                        type="submit"
                        ng-click="checkBeforeAdd(selectedSplit, selectedNode.featureChildren)"
                        ng-disabled="disableAddSplit "
                        ng-if="!selectedSplit.left">
                    <i class="icon-plus"></i>&nbsp;Create
                </button>
                <button class="button button-with-borders button-save"
                        type="submit"
                        ng-click="checkBeforeUpdate(selectedSplit, selectedNode.featureChildren)"
                        ng-disabled="valueNotChanged(treeData[selectedSplit.left], selectedSplit.value) || disableAddSplit"
                        ng-if="selectedSplit.left">
                    <i class="icon-pencil"></i>
                    &nbsp;Apply
                </button>
            </div>
        </div>
    </div>
    <div class="table" ng-if="!treatedAsNum(selectedNode.featureChildren)">
        <div class="table-title">
            <div>
                <input type="checkbox"
                       ng-model="selectedSplit.selectAll"
                       dku-indeterminate="selectedSplit.value.size && selectedSplit.value.size < histData[selectedNode.featureChildren].bins.length"
                       ng-click="massSelect(search.string, histData[selectedNode.featureChildren].bins)">
                value
            </div>
            <div>proportion</div>
        </div>
        <div class="table-records">
            <div class="record"
                 ng-repeat="bin in histData[selectedNode.featureChildren].bins"
                 ng-style="styleRecord(bin.value, selectedSplit, selectedSplit.usedValues.has(bin.value))"
                 ng-click="!selectedSplit.usedValues.has(bin.value) && changeCatValue(bin.value, $index, $event)"
                 ng-if="bin.value != 'No values' && (search.list != 'split' || bin.value.toString().toLowerCase().includes(search.string.toLowerCase()))">
                <div class="ellipsed-text small-text" title="{{bin.value}}">
                    <input type="checkbox"
                           id="{{'checkbox-'+$index}}"
                           ng-checked="selectedSplit.value.has(bin.value) || selectedSplit.usedValues.has(bin.value)"
                           ng-disabled="selectedSplit.usedValues.has(bin.value)">
                    {{bin.value}}
                </div>
                <div class="very-small-text proportion-cat-table">
                    <div class="ellipsed-text" title="{{bin.count}}" style="width: 100%">{{bin.count}}</div>
                    <em>&nbsp;({{selectedNode.samples[0] ? toFixedIfNeeded(100*bin.count/selectedNode.samples[0], 2, true) : 0}}%)</em>
                </div>
            </div>
        </div>
    </div>
    <div class="table" ng-if="treatedAsNum(selectedNode.featureChildren)">
        <div class="table-title">
            <div>min</div>
            <div>max</div>
            <div>mean</div>
        </div>
        <div class="table-records">
            <div class="record">
                <div>{{!histData[selectedNode.featureChildren].no_values ? toFixedIfNeeded(histData[selectedNode.featureChildren].min, 2) : "N/A"}}</div>
                <div>{{!histData[selectedNode.featureChildren].no_values ? toFixedIfNeeded(histData[selectedNode.featureChildren].max, 2) : "N/A"}}</div>
                <div>{{!histData[selectedNode.featureChildren].no_values ? toFixedIfNeeded(histData[selectedNode.featureChildren].mean, 2) : "N/A"}}</div>
            </div>
        </div>
    </div>
</div>
