pytest<8
allure-pytest==2.8.29
scikit-learn

scipy==1.2.1; python_version < '3.8'
scipy==1.10.1; python_version >= '3.8'
statsmodels==0.12.2; python_version < '3.8'
statsmodels==0.13.5; python_version >= '3.8'